################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cppLab01/cppLab01/.vs/cppLab01/v16/Browse.VC.opendb
